/* Write your CSS code here */
.nav-header {
  padding: 12px;
}

.nav-content {
  display: flex;
  justify-content: center;
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

.link-item {
  margin-right: 16px;
  text-decoration: none;
  cursor: pointer;
}
